In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
mlb= pd.read_csv("mlb.csv")

In [3]:
mlb.head()

,Unnamed: 0,Name,Team,Position,Height,Weight,Age,PosCategory
0,1,Adam_Donachie,BAL,Catcher,74,180,22.99,Catcher
1,2,Paul_Bako,BAL,Catcher,74,215,34.69,Catcher
2,3,Ramon_Hernandez,BAL,Catcher,72,210,30.78,Catcher
3,4,Kevin_Millar,BAL,First_Baseman,72,210,35.43,Infielder
4,5,Chris_Gomez,BAL,First_Baseman,73,188,35.71,Infielder

In [4]:
mlb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1015 entries, 0 to 1014
Data columns (total 8 columns):
Unnamed: 0     1015 non-null int64
Name           1015 non-null object
Team           1015 non-null object
Position       1015 non-null object
Height         1015 non-null int64
Weight         1015 non-null int64
Age            1015 non-null float64
PosCategory    1015 non-null object
dtypes: float64(1), int64(3), object(4)
memory usage: 63.5+ KB

In [5]:
mlb.describe()

        Unnamed: 0       Height       Weight          Age
count  1015.000000  1015.000000  1015.000000  1015.000000
mean    520.324138    73.689655   201.348768    28.708355
std     298.814526     2.313932    20.823115     4.314453
min       1.000000    67.000000   150.000000    20.900000
25%     262.500000    72.000000   186.000000    25.405000
50%     523.000000    74.000000   200.000000    27.900000
75%     778.500000    75.000000   215.000000    31.190000
max    1034.000000    83.000000   290.000000    48.520000

In [6]:
## By height and age, we will predict weight.
X = mlb[["Height", "Age"]]
y= mlb["Weight"]

In [7]:
from sklearn.linear_model import LinearRegression
from sklearn.cross_validation import train_test_split

C:\Users\Mehmet\Anaconda3\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [8]:
## We will run linear model for different test sizes and random states and compare parameters.
X1_train, X1_test, y1_train, y1_test = train_test_split(X, y, test_size=0.5, random_state=66)
X2_train, X2_test, y2_train, y2_test = train_test_split(X, y, test_size=0.5, random_state=101)
X3_train, X3_test, y3_train, y3_test = train_test_split(X, y, test_size=0.5, random_state=666)
X4_train, X4_test, y4_train, y4_test = train_test_split(X, y, test_size=0.7, random_state=66)
X5_train, X5_test, y5_train, y5_test = train_test_split(X, y, test_size=0.7, random_state=101)
X6_train, X6_test, y6_train, y6_test = train_test_split(X, y, test_size=0.7, random_state=666)

In [10]:
## Fitting models
linear_model1 = LinearRegression().fit(X1_train, y1_train)
linear_model2 = LinearRegression().fit(X2_train, y2_train)
linear_model3 = LinearRegression().fit(X3_train, y3_train)
linear_model4 = LinearRegression().fit(X4_train, y4_train)
linear_model5 = LinearRegression().fit(X5_train, y5_train)
linear_model6 = LinearRegression().fit(X6_train, y6_train)

In [11]:
intercept = pd.DataFrame([linear_model1.intercept_, linear_model2.intercept_, linear_model3.intercept_,
                          linear_model4.intercept_, linear_model5.intercept_, linear_model6.intercept_])

In [12]:
height = pd.DataFrame([linear_model1.coef_[0], linear_model2.coef_[0], linear_model3.coef_[0],
                       linear_model3.coef_[0], linear_model4.coef_[0], linear_model6.coef_[0]])

In [13]:
age = pd.DataFrame([linear_model1.coef_[1], linear_model2.coef_[1], linear_model3.coef_[1],
                       linear_model3.coef_[1], linear_model4.coef_[1], linear_model6.coef_[1]])

In [14]:
score = pd.DataFrame([linear_model1.score(X1_test, y1_test), linear_model2.score(X2_test, y2_test),
                      linear_model3.score(X3_test, y3_test), linear_model4.score(X4_test, y4_test),
                      linear_model5.score(X5_test, y5_test), linear_model6.score(X6_test, y6_test)])

In [15]:
comparison = pd.concat([intercept, height, age, score], axis=1)
comparison.columns = ["intercept", "height", "age", "score"]
comparison.index= ["Model1", "Model2", "Model3", "Model4", "Model5", "Model6"]
comparison

         intercept    height       age     score
Model1 -229.901043  5.394854  1.197423  0.245405
Model2 -189.520544  4.941593  0.909490  0.318708
Model3 -171.724362  4.682776  0.991229  0.337712
Model4 -232.466267  4.682776  0.991229  0.287557
Model5 -207.856288  5.467600  1.112309  0.311112
Model6 -185.104042  4.843589  1.033657  0.311363

In [16]:
## Saving predictions just in case
predictions1 = linear_model1.predict(X1_test)
predictions2 = linear_model2.predict(X2_test)
predictions3 = linear_model3.predict(X3_test)
predictions4 = linear_model4.predict(X4_test)
predictions5 = linear_model5.predict(X5_test)
predictions6 = linear_model6.predict(X6_test)